
<body class="#80d8ff light-blue accent-1">
  <div class="container">

  <div class="navigation">
    <h1 class="blue-text text-darken-4">Seiji Mendoza</h1>
  <ul>
    <li><a class="blue-text text-darken-4" href="/contact">Resume</a></li>
    <li><a class="blue-text text-darken-4" href="/works">Projects</a></li>
    <li><a class="blue-text text-darken-4" href="/about">About</a></li>
    <li><a class="blue-text text-darken-4" href="https://github.com/zenoner">GitHub</a></li>
  </ul>
  </div>
  <div class="tagLine">
    <h4 class="blue-text text-darken-4">Hey, there.</h4>
    <h4 class="blue-text text-darken-4">My name is Seiji,</h4>
    <h3 class="blue-text text-darken-4">a Full Stack Web Developer</h3>
    <h5 class="blue-text text-darken-4">Rails-HTML-CSS-JS-NodeJS</h5>
    <br/>
    <p class="blue-text text-darken-4" id="tagline">I am highly interested and adaptable with an innate drive to learn how things work.
    Using my creativity and analytical skill,
    I strive to provide people with sensible solutions and memorable user experiences.</p>
  </div>
  <div class="portfolio">
    <div class="project">
      <div class="switch">
        <%= image_tag "screeshotBrainGame", size: '400x360', :class => "screenshot" %>
        <div class="info">
          <h2>Brain Game</h2>
          <p id="projectinfo">A memory capacity measure game that helped to enhance your cognitive skill!</p>
          <a href="https://zenoner.github.io/"><%= image_tag "computer.svg", size: '50x50' %></a>
          <a href="https://github.com/zenoner/zenoner.github.io"><%= image_tag "github.svg", size: '50x50' %></a>
        <div class="lang">
          <p>HTML - CSS - JS</p>
        </div>
        </div>
      </div>
    </div>
    <div class="project">
      <div class="switch">
        <%= image_tag "screenshotFinderBook", size: '400x360', :class => "screenshot" %>
        <div class="info">
          <h2>BookFinder</h2>
          <p id="projectinfo">A finder book for finding your book information and your favorite of your book!</p>
          <a href="https://bestbookfinder.herokuapp.com/"><%= image_tag "computer.svg", size: '50x50' %></a>
          <a href="https://github.com/zenoner/project2"><%= image_tag "github.svg", size: '50x50' %></a>
        <div class="lang">
          <p>HTML - CSS - JS - Jquery - PostgreSQL - Express.js - Node.js</p>
        </div>
        </div>
      </div>
    </div>
    <div class="project">
      <div class="switch">
        <%= image_tag "screenshotTriped", size: '400x360', :class => "screenshot" %>
        <div class="info">
          <h2>TripEd</h2>
          <p id="projectinfo">A TripEd way to quickly book a field trip</p>
          <a href="http://www.trip-ed.com/"><%= image_tag "computer.svg", size: '50x50' %></a>
          <a href="https://github.com/schmartmann/TripEd"><%= image_tag "github.svg", size: '50x50' %></a>
        <div class="lang">
          <p>HTML - CSS - JS - Jquery - Ruby - Rails - Bcrypt - PostgreSQL</p>
        </div>
        </div>
      </div>
    </div>
    <div class="project">Project4</div>
  </div>
  <div class="aboutMe">
        <li><a class="blue-text text-darken-4" href="/about">About Me</a></li>
  </div>
  <div class="footer">
    <ul>
      <li><a href="mailto:srm5149@gmail.com" title="srm5149@gmail.com"><%= image_tag "mail.svg", size: '30x30' %></a></li>
      <li><%= image_tag "twitter.jpg", size: '30x30' %></li>
      <li><%= image_tag "github.svg", size: '30x30' %></li>
      <li><%= image_tag "linkedin.svg", size: '30x30' %></li>
    </ul>
    <p id="copyRight">© 2016, Seiji Mendoza</p>
  </div>


  </div> <!-- the end of container  -->
</body>
